{# templates/pptp/products/ingredients_upload.html #}
{% extends "pptp/products/image_upload_base.html" %}
{% load i18n %}

{% block upload_title %}Upload Ingredients{% endblock %}

{% block upload_icon %}list-ul{% endblock %}

{% block drop_text %}Take a clear photo of the list of ingredients{% endblock %}

{% block image_actions %}
{% if image_obj.id %}
<button type="button"
        data-image-id="{{ image_obj.id }}"
        class="btn btn-outline-danger btn-sm delete-image mt-2">
    <i class="bi bi-trash me-1"></i>
    Delete
</button>
{% endif %}
{% endblock %}

{% block form_buttons %}
<div class="row g-3">
    <div class="col">
        <button type="submit" name="add_more" class="btn btn-primary w-100">
            <i class="bi bi-plus-circle me-1"></i>
            Add Another Image
        </button>
    </div>
    <div class="col">
        <button type="submit" name="continue" class="btn btn-success w-100">
            <i class="bi bi-arrow-right-circle me-1"></i>
            Continue
        </button>
    </div>
</div>
{% endblock %}