{# templates/pptp/products/product_images_upload.html #}
{% extends "pptp/products/image_upload_base.html" %}
{% load i18n %}

{% block upload_title %}{% trans "Upload Product Images" %}{% endblock %}

{% block upload_icon %}camera{% endblock %}

{% block drop_text %}{% trans "Drag and drop your product image here" %}{% endblock %}

{% block form_buttons %}
<div class="d-flex justify-content-end gap-2">
    <button type="submit" name="add_another" class="btn btn-outline-primary">
        {% trans "Add Another" %}
    </button>
    <button type="submit" name="continue" class="btn btn-primary">
        {% trans "Continue" %}
    </button>
</div>
{% endblock %}